/*html *
{
   color: #000 !important;
   font-family: Arial !important;
}*/

#donate {
    display: inline-block;
    margin:4px;
    text-align: center;
    /*float:center;*/
}

#donate label {
    text-align: center;
    float:left;
    width:100px;
    margin:2px;
    background-color:#EFEFEF;
    border-radius:2px;
    border:1px solid #D0D0D0;
    overflow:auto;

}

#donate label span {
    text-align:center;
    font-size: 25px;
    padding:7px 0px;
    display:block;
}

#donate label input {
    text-align: center;
   position:absolute;
    /*top:-20px;*/
    visibility: hidden;
}

#donate input:checked + span {
    text-align: center;
    background-color:#0966f1;
    color:#F7F7F7;
}

#donate .yellow {

    text-align: center;
    background-color:#404040;
    color:#F7F7F7;
    
}
.datepicker{
    font-size: 7vh;
    width: 50rem; 
    height: 50px;
    
}

.center {
    border: 3.5rem solid #0966f1;
    display: inline-block;
    margin: 0 auto;
    width: 50rem;

}
#wrapper {
   
    text-align: center;
  }
.zone {
    border: 3px solid #ffffff;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
}
.psalms {
    border: 3px solid #ffffff;
    text-align: center;
    font-size: 1em;
    margin: 0 auto;
}
.container { 
    border:2px solid #ccc; 
    width:450px; 
    height: 100px; 
    overflow-y: scroll;
    text-align: center;
    margin: 0 auto;
}
.heading3{
    border: 1rem solid #e9e646;  
    display: flex;
    /*align-items: center;*/
    width: 50rem
}
.titles{
    margin: auto;
    font-size: 1.275em;
    text-align: center;
    padding: .5rem;
    font-weight: bold;
}
.titles2{
    margin: auto;
    font-size: 1.575em;
    text-align: center;
    padding: .25rem;
    font-weight: bold;
}
.fields{
    text-align: center;
}
.fields1{
    text-align: center;
    
}
.datepicker{
    font-size: 1.5rem;

}
.selectDate{
    font-size: 1.5rem;
    text-align: center;
    display: flex;
    align-items: center;
}
input[type=submit]{
    padding:5px; 
    border:2px solid rgb(204, 204, 204); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 50%;
    margin-bottom: .7rem;
    height: 5rem;
    font-size: 24px;
}
.buttonDiv{
    text-align: center;
}

.centerVert{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.homePage{
    text-align: center;
}
.break{
    background-color: #a2a2a2;
    max-height: 8px;
    margin-left: 3%;
    margin-right: 3%;
}
.break2{
    background-color: #a2a2a2;
    max-height: 1px;
    margin-left: 3%;
    margin-right: 3%;
}
@media screen and (max-width: 920px) {
    .datepicker{    
        font-size: 7vh;
        width: 100%; 
        height: 25%;
        
    }
    .break{
        max-width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .center {
        /*background-color: rgb(204, 196, 196);*/
        border: 0rem solid #635ae4;
        display: inline-block;
        width: 100%; 
        margin:0 auto;
    }
    .heading3{
        border: 1rem solid #e9e646;  
        display: inline-block;
        width: 100%;

    }
    .titles{
        margin: auto;
        font-size: 1.275em;
        text-align: center;
        padding: .25rem;
    }    
    .titles2{
        margin: auto;
        font-size: 1.275em;
        text-align: center;
        padding: .25rem;
    }
    .fields{
        background-color: rgb(255, 255, 255);
        text-align: center;
        margin: 0px;
        
    }
    .homePage{
        background-color: rgb(255, 255, 255);
        text-align: center;
        margin: 0px;
        font-size: 5.75vw;
    }
    .centerVert{
        font-size: 5.75vw;
    }
    .container { 
     
        border:.1renm solid rgb(33, 34, 34); 
        width:95%; 
        height: 120px; 
        overflow-y: scroll;
        text-align: center;
        margin-left: .1rem;
        margin-right: .1rem;
    }
    .zone{
        background-color: rgb(255, 255, 255);
       text-align: left;
       width: 100%;
       font-size: 4.75vw;
    }
    .psalms{
        background-color: rgb(255, 255, 255);
       text-align: center;
       width: 100%;
       font-size: 4.75vw;
    }
  /*
    .container{
      background-color: red;
      color: white;
      display: flex;
      flex-direction: column;
      width: 100%;
    }*/
}