.center {
    border: 50px solid #635ae4;
    display: inline-block;
    width:800px; 
    margin:0 auto;
}
.zone {
    border: 5px solid #ffffff;
}

.container { 
    border:2px solid #ccc; width:450px; height: 100px; overflow-y: scroll;
}
.heading3{
    border: 5px solid #e9e646;  
    display: inline-block;
}
.titles{
    margin: auto;
    font-size: 1.275em;
    text-align: center;
    padding: 10px;
}