<!DOCTYPE html>
<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/templates.css') }}"
    />
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="center">
      <form>
        {% for item in listss %}
        <div class="zone">
          <input
            type="checkbox"
            name="mycheckbox"
            value="{{item}}"
          />{{item}}<br />
        </div>
        {% endfor %}
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
