<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/templates.css') }}"
  />
  <head>
    <title class="titles2">PowerPoint Creator</title>
  </head>

{% block content %}
<div>
  
  <p class="titles">Current Coptic Date is: {{y.copticDate}}</p>
  <p class="titles">Current Coptic Sunday is: {{y.sunday}}</p>
  <p class="titles">Current Coptic Season is: {{y.season}}</p>
  <p class="titles">Current Coptic Occasion is: {{y.ocassion}}</p>
  <div class="centerVert">
    <div class="homePage">
    </div>
    <br></br>
    <form action="" method="POST" name="myform" class="datepicker">
      {{ form.csrt_token }}
      <div class="homePage">
        {{ form.startdate.label(class='titles2') }}
      </div>
      <br></br>
      <div class="homePage">
        {{form.startdate(class='datepicker')}} {{form.hidden_tag()}}
      </div>
      <div class = "buttonDiv">
        <p>{{form.submit()}}</p>
      </div>

    </form>

  </div>
</div>
{% endblock %}
</html>