<!DOCTYPE html>
<html lang="en">
  <link
    rel="stylesheet"
    href="{{ url_for('static', filename='css/templates.css') }}"
  />
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Document</title>
  </head>
  <body>
    <div class="center">
      <p class="titles">Selected Date is: {{session['startdate']}}</p>
      <p class="titles">Selected Coptic Date is: {{spapi.copticDay}}</p>
      <p class="titles">Selected Coptic Sunday is: {{spapi.sunday}}</p>
      <p class="titles">Selected Coptic Season is: {{spapi.season}}</p>
      <p class="titles">Selected Coptic Occasion is: {{spapi.occasion}}</p>

      <p class="titles">Seasonal Vespers Doxologies</p>

      <form method="POST" action="/select">
        {% for item in spapi.dictionary["seasonVespersDoxologies"] %}
        <div class="zone">
          <input
            type="checkbox"
            name="seasonalDoxo"
            value="{{item}}"
          />{{item}}<br />
        </div>
        {% endfor %}
        <p class="titles">Optional Vespers Doxologies</p>
        <div class = "container">
        {% for item in spapi.dictionary["optionalDoxogies"] %}
        <div class="zone">
          <input
            type="checkbox"
            name="optionalDoxo"
            value="{{item}}"
          />{{item}}<br />
        </div>
        {% endfor %}
      </div>
        <input type="submit" />
      </form>
    </div>
  </body>
</html>
