<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="{{ url_for('static', filename='css/templates.css') }}" />

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>St. Mark ATL PowerPoint Creator</title>

</head>

<body>
  <div id="wrapper">
    <div class="center">
      <a href="/" class="btn btn-primary">HOME</a>
      <p class="titles">Selected Date is: {{session['startdate']}}</p>
      <p class="titles">Selected Coptic Date is: {{spapi.copticDay}}</p>
      <p class="titles">Selected Coptic Sunday is: {{spapi.sunday}}</p>
      <p class="titles">Selected Coptic Season is: {{spapi.season}}</p>
      <p class="titles">Selected Coptic Occasion is: {{spapi.occasion}}</p>
      <br></br>
      <form method="POST" action="/select">

        <p class="titles2">VESPERS</p>
        <p class="titles">Bishop Present?</p>
        <div class="fields" id="donate">
          <p>
            <label class="yellow"><input class="fields" type="radio" name="bishopVespers"
                value="yes"></input><span>Yes</span></label>
            <label class="yellow"><input class="fields" type="radio" name="bishopVespers" value="no"
                checked></input><span>No</span></label>
          </p>
        </div>
        <br></br>


        <p class="titles">Seasonal Vespers Doxologies</p>
        {% for item in spapi.dictionary["seasonVespersDoxologies"] %}
        <div class="zone">
          <input class="fields" type="checkbox" name="seasonalDoxoVespers"
            value="{{item}}" />{{item.split("/")[-1].split(".")[0]}}<br />
        </div>
        {% endfor %}
        <br></br>
        <p class="titles">Optional Vespers Doxologies</p>
        <div class="zone">
          <div class="container">
            {% for item in spapi.dictionary["vespersoptionalDoxogies"] %}
            <div class="zone">

              <input class="fields" type="checkbox" name="optionalDoxoVespers"
                value="{{item}}" />{{item.split("/")[-1].split(".")[0]}}<br />

            </div>
            {% endfor %}
          </div>
        </div>

        <br></br>
        <p class="titles">5 Short Litanies for Vespers</p>
        <div class="fields" id="donate">
          <p>
            <label class="yellow"><input class="fields" type="radio" name="5short"
                value="yes"></input><span>Yes</span></label>
            <label class="yellow"><input class="fields" type="radio" name="5short" value="no"
                checked></input><span>No</span></label>
          </p>
        </div>
        <br></br>
        <p class="titles2">MATINS</p>
        <p class="titles">Seasonal Matins Doxologies</p>
        {% for item in spapi.dictionary["seasonmatinsDoxologies"] %}
        <div class="zone">
          <input class="fields" type="checkbox" name="seasonalDoxoMatins"
            value="{{item}}" />{{item.split("/")[-1].split(".")[0]}}<br />
        </div>
        {% endfor %}
        <br></br>
        <p class="titles">Optional Matins Doxologies</p>
        <div class="zone">
          <div class="container">
            {% for item in spapi.dictionary["matinsoptionalDoxogies"] %}
            <div class="zone">
              <input class="fields" type="checkbox" name="optionalDoxoMatins"
                value="{{item}}" />{{item.split("/")[-1].split(".")[0]}}<br />
            </div>
            {% endfor %}
          </div>
        </div>
        <br></br>
        <p class="titles">5 Short Litanies for Matins</p>
        <div class="fields" id="donate">
          <p>
            <label class="yellow"><input class="fields" type="radio" name="5shortMatins"
                value="yes"></input><span>Yes</span></label>
            <label class="yellow"><input class="fields" type="radio" name="5shortMatins" value="no"
                checked></input><span>No</span></label>
          </p>
        </div>
        <br></br>

        <p class="titles2">OFFERING OF THE LAMB</p>
        <p class="titles">3rd Hour Psalm</p>

        <div class="psalms">
          <div class="psalms">
            <select name="3rdHourPsalm" id="">
              {% for item in spapi.dictionary["thirdHourPsalms"] %}
              <option class="fields" value="{{item}}">{{item.split("/")[-1].split(".")[0]}}</option>
              <br />
              {% endfor %}
            </select>

          </div>
          <br>

          <p class="titles">6th Hour Psalm</p>
          <div class="psalms">
            <div class="psalms">
              <select name="6thHourPsalm" id="">
                {% for item in spapi.dictionary["sixthHourPsalms"] %}
                <option class="fields" value="{{item}}">{{item.split("/")[-1].split(".")[0]}}</option>
                <br />
                {% endfor %}
              </select>
              <br></br>
              <p class="titles2">LITURGY OF THE WORD</p>
            </div>

            {%if spapi.dictionary["paralexHymns"] |length > 0 %}
            <br></br>
            <p class="titles">Paralex Hymns</p>
            <div class="zone">
              <div class="container">
                {% for item in spapi.dictionary["paralexHymns"] %}
                <div class="zone">
                  <input class="fields" type="checkbox" name="paralexHymns"
                    value="{{item}}" />{{item.split("/")[-1].split(".")[0]}}<br />
                </div>
                {% endfor %}
              </div>
            </div>
            <br></br>
            {%endif%}

            <p class="titles">3 Long Litanies</p>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="Liturgy3GreatLitanies"
                    value="yes"></input><span>Yes</span></label>
                <label class="yellow"><input class="fields" type="radio" name="Liturgy3GreatLitanies" value="no"
                    checked></input><span>No</span></label>
              </p>
            </div>

            <p class="titles2">LITURGY OF THE FAITHFUL</p>
            <p class="titles">Reconciliation Prayer</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="zone">
              <div class="container">
                {% for item in spapi.dictionary["prayerOfReconcilation"] %}
                <div class="zone">
                  <input class="fields" type="checkbox" name="prayerOfReconcilation"
                    value="{{item}}" />{{item.split("/")[-1].split(".")[0]}}<br />
                </div>
                {% endfor %}
              </div>
            </div>


            <br></br>
            <p class="titles">Rejoice O Mary</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="rejoiceOMary"
                    value="yes"></input><span>Yes</span></label>
                <label class="yellow"><input class="fields" type="radio" name="rejoiceOMary" value="no"
                    checked></input><span>No</span></label>
              </p>
            </div>
            <div class="break">
              <br></br>
            </div>

            <p class="titles">Anaphora</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="anaphora"
                    value="Gregory"></input><span>Gregory</span></label>
                <label class="yellow"><input class="fields" type="radio" name="anaphora" value="Basil"
                    checked><span>Basil</span></label>
              </p>
            </div>
            <div class="break">
              <br></br>
            </div>

            <p class="titles">O Lord of Hosts</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="OLordofHosts"
                    value="yes"></input><span>Yes</span></label>
                <label class="yellow"><input class="fields" type="radio" name="OLordofHosts" value="no"
                    checked></input><span>No</span></label>
              </p>
            </div>
            <div class="break">
              <br></br>
            </div>

            <p class="titles">Agios</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="agiosLiturgy"
                    value="Gregory"></input><span>Gregory</span></label>
                <label class="yellow"><input class="fields" type="radio" name="agiosLiturgy" value="Basil"
                    checked><span>Basil</span></label>
              </p>
            </div>
            <div class="break">
              <br></br>
            </div>

            <p class="titles">Institution Narrative</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="instiution"
                    value="Gregory"></input><span>Gregory</span></label>
                <label class="yellow"><input class="fields" type="radio" name="instiution" value="Basil"
                    checked><span>Basil</span></label>
              </p>
            </div>

            <div class="break">
              <br></br>
            </div>
            <p class="titles">Yes we ask You</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="yeahWeAskYou"
                    value="yes"></input><span>Yes</span></label>
                <label class="yellow"><input class="fields" type="radio" name="yeahWeAskYou" value="no"
                    checked></input><span>No</span></label>
              </p>
            </div>

            <div class="break">
              <br></br>
            </div>
            <p class="titles">Je Nai Nan</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="jeNaiNan"
                    value="yes"></input><span>Yes</span></label>
                <label class="yellow"><input class="fields" type="radio" name="jeNaiNan" value="no"
                    checked></input><span>No</span></label>
              </p>
            </div>

            <div class="break">
              <br></br>
            </div>
            <p class="titles">Healing to the Sick</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="healingToThesick"
                    value="yes"></input><span>Yes</span></label>
                <label class="yellow"><input class="fields" type="radio" name="healingToThesick" value="no"
                    checked></input><span>No</span></label>
              </p>
            </div>

            <div class="break">
              <br></br>
            </div>
            <p class="titles">Commemoration</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="Commemoration"
                    value="Gregory"></input><span>Gregory</span></label>
                <label class="yellow"><input class="fields" type="radio" name="Commemoration" value="Basil"
                    checked><span>Basil</span></label>
              </p>
            </div>

            <div class="break">
              <br></br>
            </div>
            <p class="titles">Post Commemoration</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="postCommemoration"
                    value="Gregory"></input><span>Gregory</span></label>
                <label class="yellow"><input class="fields" type="radio" name="postCommemoration" value="Basil"
                    checked><span>Basil</span></label>
              </p>
            </div>

            <div class="break">
              <br></br>
            </div>
            <p class="titles">Intro to the Fraction</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="fields" id="donate">
              <p>
                <label class="yellow"><input class="fields" type="radio" name="prefaceToTheFraction"
                    value="Gregory"></input><span>Gregory</span></label>
                <label class="yellow"><input class="fields" type="radio" name="prefaceToTheFraction" value="Basil"
                    checked><span>Basil</span></label>
              </p>
            </div>
            <p class="titles">Seasonal Fractions</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="zone">
              <div class="container">
                {% for item in spapi.dictionary["seasonalFraction"] %}
                <div class="zone">
                  <input class="fields" type="checkbox" name="seasonalFraction"
                    value="{{item}}" />{{item.split("/")[-1].split(".")[0]}}<br />
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="break">
              <br></br>
            </div>

            <p class="titles">Fraction Index</p>
            <div class="break2">
              <br></br>
            </div>
            <div class="zone">
              <div class="container">
                {% for item in spapi.dictionary["fractionIndex"] %}
                <div class="zone">
                  <input class="fields" type="checkbox" name="fractionIndex"
                    value="{{item}}" />{{item.split("/")[-1].split(".")[0]}}<br />
                </div>
                <div class="break2">
                  <br></br>
                </div>
                {% endfor %}
              </div>
            </div>

            <div class="break">
              <br></br>
            </div>

            <br></br>
            <div class="buttonDiv">
              <input type="submit" />
            </div>
            <br></br>
      </form>
    </div>
</body>
</div>

</html>